<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHealthShareUsageDescription</key>
	<string>수면, 심박수, HRV, 체성분, 운동 데이터를 분석하여 훈련 준비도와 회복 상태를 표시합니다.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>이 앱은 건강 데이터를 읽기만 하며 기록하지 않습니다.</string>
	<key>WKApplication</key>
	<true/>
	<key>WKWatchOnly</key>
	<true/>
</dict>
</plist>
